#### Importing Liraries

In [1378]:
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt  
get_ipython().run_line_magic('matplotlib', 'inline')
from sklearn import preprocessing
import seaborn as sb
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.feature_selection import mutual_info_regression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import SelectFromModel

#### importing dataset

In [1379]:
tabba_df = pd.read_csv(r"C:\Users\Hp\Desktop\MSCS\Tabba Project\project files\original csv\tabba.original.csv", encoding='latin')

C:\Users\Hp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,47,48,56,64,159,197,244,250,259,262,267,270,424,425) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#### displaying dataset

In [1380]:
tabba_df

,TempSNO,gender_id,patient_age,city_id,town_id,Balochi,Barahvi,Hindko,Punjabi,Pushto,...,sequential_svg,sequential_ima,sequential_ra,y_graft,postop_tee,whole_blood,postop_pci,pneumothorax,haemothorax,specify_other
0,1,1,64,1,,,,,,,...,0,0,0,0,,,0,0,0,
1,2,1,75,1,,,,,,,...,0,0,0,0,,,0,0,0,
2,3,1,53,343,,,1,,,,...,0,0,0,0,,,0,0,0,
3,4,1,45,1,,,,,,,...,0,0,0,0,,,0,0,0,
4,5,1,45,1,,,,,,,...,0,0,0,0,,,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,5339,1,66,1,,,,,,,...,0,0,0,0,,,0,0,0,
5339,5340,1,76,265,,,,,,,...,0,0,0,0,,,0,0,0,
5340,5341,2,44,1,,,,,,,...,0,0,0,0,,,0,0,0,
5341,5342,2,67,1,,,,,,,...,0,0,0,0,,,0,0,0,
5342,5343,2,53,239,,,,,,1,...,0,0,0,0,,,0,0,0,

#### Changing datatypes: converting blank values into NAN

In [1381]:
tabba_df = tabba_df.replace(r'^\s*$', np.nan, regex=True)
tabba_df

,TempSNO,gender_id,patient_age,city_id,town_id,Balochi,Barahvi,Hindko,Punjabi,Pushto,...,sequential_svg,sequential_ima,sequential_ra,y_graft,postop_tee,whole_blood,postop_pci,pneumothorax,haemothorax,specify_other
0,1,1,64,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
1,2,1,75,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
2,3,1,53,343,NaN,NaN,1,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
3,4,1,45,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
4,5,1,45,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,5339,1,66,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
5339,5340,1,76,265,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
5340,5341,2,44,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
5341,5342,2,67,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,0,0,0,NaN
5342,5343,2,53,239,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,NaN,NaN,0,0,0,NaN

#### datatype check

In [1382]:
tabba_df.dtypes

TempSNO            int64
gender_id          int64
patient_age        int64
city_id           object
town_id          float64
                  ...
whole_blood       object
postop_pci         int64
pneumothorax       int64
haemothorax        int64
specify_other     object
Length: 576, dtype: object

#### calculating LOS and then deleting all date columns as there is no relationship of date with LOS

In [1383]:
tabba_df['date_of_admission'] = pd.to_datetime(tabba_df['date_of_admission'])
tabba_df['date_of_discharge']= pd.to_datetime(tabba_df['date_of_discharge'])

In [1384]:
tabba_df['date_of_admission'].dtypes, tabba_df['date_of_discharge'].dtypes

(dtype('<M8[ns]'), dtype('<M8[ns]'))

In [1385]:
tabba_df['comparison_column'] = np.where(tabba_df["date_of_admission"] > tabba_df["date_of_discharge"], True, False)

In [1386]:
tabba_df['comparison_column'].value_counts()

False    5341
True        2
Name: comparison_column, dtype: int64

In [1387]:
i = tabba_df[(tabba_df.comparison_column == True)].TempSNO
print(i)

943      944
1145    1146
Name: TempSNO, dtype: int64

#### dropping rows that have comparision column true

In [1388]:
tabba_df = tabba_df[tabba_df.TempSNO != 944]
tabba_df = tabba_df[tabba_df.TempSNO != 1146]

In [1389]:
tabba_df['comparison_column'].value_counts()

False    5341
Name: comparison_column, dtype: int64

#### Calculating LOS

In [1390]:
tabba_df['LOS'] = (tabba_df["date_of_discharge"] - tabba_df["date_of_admission"]).dt.days

In [1391]:
tabba_df['LOS']

0        7
1       11
2        5
3        7
4        9
        ..
5338     9
5339     8
5340    10
5341     6
5342     6
Name: LOS, Length: 5341, dtype: int64

In [1392]:
tabba_df

,TempSNO,gender_id,patient_age,city_id,town_id,Balochi,Barahvi,Hindko,Punjabi,Pushto,...,sequential_ra,y_graft,postop_tee,whole_blood,postop_pci,pneumothorax,haemothorax,specify_other,comparison_column,LOS
0,1,1,64,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,7
1,2,1,75,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,11
2,3,1,53,343,NaN,NaN,1,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,5
3,4,1,45,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,7
4,5,1,45,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,5339,1,66,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,9
5339,5340,1,76,265,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,8
5340,5341,2,44,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,10
5341,5342,2,67,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0,0,NaN,False,6
5342,5343,2,53,239,NaN,NaN,NaN,NaN,NaN,1,...,0,0,NaN,NaN,0,0,0,NaN,False,6

In [1393]:
tabba_df['LOS'].value_counts()

6       1298
7        994
8        703
9        513
5        468
10       394
11       273
12       156
13       129
14        91
15        55
16        39
17        33
4         30
18        24
3         19
19        16
22        12
20        10
21         9
1          8
2          7
26         7
27         7
23         5
38         4
30         4
41         4
28         4
25         3
33         2
29         2
24         2
65         1
44         1
371        1
47         1
43         1
31         1
32         1
372        1
72         1
96         1
375        1
374        1
2199       1
46         1
37         1
739        1
Name: LOS, dtype: int64

In [1394]:
for i in tabba_df['LOS']:
    print(i)

7
11
5
7
9
8
10
7
9
11
8
6
6
9
12
10
7
6
6
19
6
6
21
6
6
7
6
15
6
6
8
9
9
6
10
10
15
5
11
10
7
7
9
7
8
6
8
17
7
6
11
7
8
8
7
6
6
6
15
8
8
7
10
8
6
8
6
8
10
6
7
8
7
9
5
6
7
6
6
7
6
6
8
23
6
7
11
10
5
6
17
12
10
7
6
11
8
6
6
11
15
9
5
10
7
6
6
7
6
20
9
14
46
10
10
2
8
10
18
11
10
10
6
10
9
19
6
6
10
6
10
8
8
19
7
12
8
10
12
6
12
7
9
7
8
14
6
7
4
8
6
10
7
9
6
6
7
11
5
6
7
6
6
1
6
6
6
2199
12
9
6
8
7
6
6
8
11
7
6
7
6
6
9
11
5
7
7
10
6
6
9
7
6
6
7
9
11
8
8
9
10
8
6
9
6
4
11
14
8
11
9
6
9
13
6
9
8
5
6
8
23
7
6
7
5
6
7
25
7
16
7
7
8
17
5
9
6
6
14
6
6
7
7
7
7
8
11
7
6
9
14
6
18
6
6
6
14
10
7
8
6
8
8
6
13
7
5
6
8
6
7
7
8
8
6
6
7
6
6
15
14
6
10
9
8
6
7
8
7
6
6
10
7
6
7
12
6
11
8
7
8
8
6
8
7
9
10
7
6
6
11
16
7
6
10
6
11
12
10
22
7
6
10
4
7
13
15
8
7
8
12
10
12
7
12
11
6
6
7
11
7
8
13
6
11
7
15
6
9
7
11
6
6
12
8
6
7
10
6
6
6
6
8
6
6
6
7
6
8
7
7
8
12
6
6
6
14
14
8
6
6
7
10
13
8
7
6
6
7
6
6
6
8
10
8
10
8
6
9
6
7
7
6
9
6
6
9
6
9
8
6
7
6
7
7
7
14
6
12
16
6
9
6
6
11
7
7
8
6
6
8
9
11
10
6
10
9
9
7
9
7
8
10
7
6
7
8
6
19
7
17
8
6
9
6
10
7
11
14
12
10
6
2
6
12
11
10
6
6
8
7
8
7
6
7
6
6
6
6
6
5
6
6
9
11
8
14
7
10
14
6
6
7
10
9
8
7
3
8
11
8
6
6
11
7
7
10
7
6
6
11
10
6
8
7
6
7
8
8
16
10
14
7
6
10
9
8
1
6
8
6
11
6
13
7
9
7
11
7
8
6
11
7
7
7
7
8
9
6
7
6
9
6
11
9
9
7
6
7
11
6
6
5
8
11
12
12
6
13
13
6
6
6
8
10
9
6
8
6
13
11
7
7
6
10
7
10
8
8
5
6
7
7
6
24
6
6
6
17
6
7
8
7
7
7
13
6
6
5
6
6
6
8
7
10
17
11
6
8
9
7
8
7
8
9
10
6
6
30
13
5
5
6
8
7
11
9
13
7
6
9
5
7
7
7
5
12
6
10
5
8
5
13
7
9
7
10
8
13
6
6
7
6
8
38
12
6
7
5
9
6
5
10
7
6
8
13
10
15
6
7
6
7
6
7
7
17
6
15
6
8
7
6
38
13
6
10
9
6
12
7
10
6
7
8
12
6
9
8
6
6
28
6
9
11
8
5
8
22
6
6
6
6
10
8
7
9
12
8
9
8
11
6
7
6
9
9
6
9
7
6
14
10
27
8
12
6
5
5
6
18
14
7
7
7
9
7
6
7
6
9
4
8
7
9
6
10
6
5
3
13
10
8
20
6
10
14
7
6
8
8
9
8
17
11
5
10
13
7
5
5
8
5
9
6
8
10
16
8
7
8
14
5
10
7
6
9
8
26
6
10
6
7
12
7
8
8
6
15
21
13
7
6
10
7
7
7
7
10
5
8
6
7
11
6
6
7
11
9
8
10
6
5
6
6
8
7
7
7
11
8
6
8
6
6
6
7
6
15
6
6
7
6
6
6
11
6
11
6
6
16
9
19
5
6
7
8
6
6
13
7
7
4
6
8
8
6
6
6
6
10
11
14
8
6
6
6
5
6
6
7
7
6
7
6
6
9
9
6
6
6
7
6
7
1
7
7
6
11
6
11
6
7
7
11
6
6
6
7
11
6
9
8
23
6
7
6
11
8
6
9
6
10
5
6
16
11
6
8
6
10
5
7
7
7
5
7
10
7
6
7
5
7
9
22
9
10
6
9
6
9
15
9
7
6
8
20
11
8
15
7
12
8
7
28
13
9
8
5
3
6
6
8
6
6
6
11
6
28
14
6
9
5
9
11
8
10
10
7
6
12
30
9
8
6
7
6
14
6
16
6
12
9
6
7
13
8
11
7
13
6
11
11
10
6
6
7
6
5
10
10
5
6
7
5
5
9
18
8
22
17
9
6
10
8
5
8
5
8
7
6
6
9
6
8
13
7
11
8
6
9
14
7
7
5
6
9
19
6
5
6
8
18
6
7
13
9
8
6
6
11
27
5
13
10
7
12
9
6
7
10
6
9
5
22
6
12
6
6
26
7
7
5
10
14
6
6
6
6
11
8
8
6
9
6
9
6
8
8
13
5
7
8
6
8
7
7
6
6
5
8
7
9
13
18
12
9
18
9
7
8
11
7
12
10
14
13
11
8
6
5
6
6
6
9
6
8
7
26
10
8
7
8
7
8
10
8
8
13
6
8
10
11
11
6
6
6
8
13
5
21
6
8
6
7
6
10
8
8
10
5
7
8
14
14
6
6
7
6
8
6
8
12
9
10
6
7
7
6
6
6
15
6
6
6
6
6
7
6
5
6
6
9
6
6
11
10
13
6
7
6
9
6
9
6
5
13
9
11
9
6
7
6
7
6
5
5
13
5
13
9
7
11
6
33
11
5
6
5
7
7
3
6
7
9
41
10
6
5
7
8
9
10
6
7
6
7
7
9
12
15
8
5
6
11
9
7
9
6
6
7
11
6
10
11
8
5
7
9
10
10
7
9
15
12
8
6
8
11
13
6
32
6
5
7
6
14
5
7
7
7
10
7
6
5
6
10
6
8
14
11
9
15
11
18
11
6
8
9
7
7
6
6
8
13
8
11
10
13
7
7
9
9
6
18
11
6
12
6
6
4
5
13
5
12
6
10
18
6
6
6
6
17
7
12
9
10
13
12
11
6
8
7
11
7
8
6
6
9
6
7
9
6
6
8
9
12
12
11
4
5
5
8
6
8
7
6
7
6
6
7
6
7
6
7
5
10
9
6
10
7
7
12
6
9
12
8
10
10
8
7
6
6
8
6
8
7
6
8
6
7
13
11
6
6
9
8
8
10
8
6
8
6
6
9
5
10
6
6
8
6
7
6
5
7
8
7
9
5
7
10
9
9
8
5
8
9
6
9
7
6
11
6
10
6
7
10
13
6
9
9
10
11
7
16
11
7
7
11
6
7
6
6
7
6
7
9
22
9
19
5
11
5
5
10
8
10
6
7
7
8
7
8
13
6
6
7
6
6
10
6
6
10
6
8
6
6
6
5
5
6
6
5
5
5
3
14
11
22
7
8
10
6
5
13
5
6
7
7
6
8
10
8
6
9
7
5
8
7
6
9
6
7
8
6
10
22
12
5
5
8
6
17
10
6
9
13
7
6
6
18
7
5
11
10
10
7
8
9
7
7
8
7
5
5
7
7
6
8
10
17
6
7
11
14
10
6
6
8
8
11
7
8
9
7
6
17
7
6
9
6
10
5
13
6
6
8
13
8
6
6
14
6
6
12
6
7
7
7
6
11
6
10
6
6
6
20
6
6
6
6
16
8
11
8
9
7
5
7
11
7
6
7
6
7
7
10
8
7
8
12
6
14
9
13
6
6
6
8
6
7
7
13
11
9
7
6
6
10
5
6
6
6
6
6
7
10
6
6
11
10
6
6
6
14
8
8
6
10
12
8
7
5
10
5
11
8
5
5
6
6
6
6
7
6
7
6
9
10
6
7
17
8
8
6
5
5
14
6
16
6
6
5
7
7
7
9
7
6
7
8
6
5
4
6
8
6
9
11
7
11
6
6
8
7
9
8
7
14
9
5
8
10
6
10
6
8
6
6
7
8
17
6
8
10
6
5
6
6
8
7
13
11
6
13
8
11
7
6
6
5
4
8
6
5
6
6
11
7
6
7
8
6
11
3
6
5
6
5
7
7
8
7
7
16
6
13
6
6
6
6
12
6
7
12
11
5
6
9
6
9
9
7
6
7
10
6
10
8
3
7
7
6
6
7
5
7
10
6
5
6
8
6
11
5
5
6
9
8
8
6
6
14
7
9
7
8
21
9
15
10
8
8
6
12
5
12
6
11
7
5
7
8
9
7
6
16
10
10
7
12
6
6
8
7
12
7
9
9
7
6
8
12
8
7
6
6
5
17
6
6
8
6
6
5
7
17
9
7
6
7
9
11
9
6
11
8
10
5
7
6
10
10
18
10
8
8
7
9
9
9
7
7
7
8
8
7
7
8
20
8
6
10
6
8
10
11
9
8
15
10
8
11
8
15
8
8
8
11
9
6
5
7
6
20
12
5
7
6
11
2
10
7
2
5
5
5
9
13
5
8
9
7
10
9
9
7
7
5
9
14
6
9
11
11
16
7
6
6
7
8
15
10
4
8
31
10
7
9
6
6
7
7
7
6
8
10
5
7
11
6
13
6
5
5
5
6
5
11
6
38
43
9
7
8
17
6
8
12
8
4
10
8
8
8
7
7
7
7
5
10
6
12
5
20
7
15
6
9
8
3
4
10
9
5
11
10
5
9
10
12
7
7
7
11
6
8
12
5
10
9
12
6
8
6
8
5
7
8
5
7
13
9
9
7
9
8
5
7
8
6
10
11
7
12
6
12
7
10
9
15
5
6
10
7
12
10
8
5
7
6
6
6
4
16
7
7
8
5
5
6
6
6
9
6
12
10
6
6
6
9
7
10
11
7
6
6
8
6
8
6
7
5
9
9
3
8
7
6
18
15
6
13
6
7
7
6
9
7
9
6
6
7
3
13
9
6
6
10
5
7
6
10
7
7
16
7
6
19
10
5
7
41
9
8
7
8
7
8
6
6
7
7
9
6
7
6
6
1
11
9
8
7
6
11
14
10
22
12
7
9
10
8
7
7
7
6
6
10
6
6
8
6
11
6
5
6
7
6
5
7
10
6
6
375
9
6
7
7
4
10
12
739
6
8
9
8
7
5
5
6
15
7
5
9
14
8
9
6
9
9
5
8
7
17
7
10
7
6
16
11
10
8
5
5
8
10
9
10
7
6
5
11
9
7
12
13
8
8
15
8
7
9
5
7
18
5
8
7
10
10
7
7
6
7
10
12
6
6
8
13
10
5
8
5
6
7
8
10
9
7
9
17
9
8
10
7
6
9
5
6
5
11
6
22
6
8
8
11
14
6
12
9
13
7
11
7
12
5
6
9
6
12
6
12
10
9
7
13
11
5
5
8
8
7
7
9
6
11
9
9
6
9
8
7
8
7
6
9
11
6
12
5
10
6
5
6
8
6
5
6
7
7
17
8
8
10
7
5
5
8
5
8
7
7
10
11
8
6
7
9
14
9
9
10
8
6
5
7
8
10
6
8
9
7
8
10
11
5
6
11
13
8
6
7
6
10
11
8
14
7
6
5
7
7
9
7
9
7
8
7
8
8
6
9
8
7
5
10
5
14
10
6
6
10
6
6
8
9
6
8
14
7
7
9
11
16
6
8
6
10
6
6
6
13
8
9
6
8
6
23
5
8
6
8
11
5
8
8
6
6
11
7
8
12
7
8
5
7
7
7
7
11
10
8
6
9
8
10
7
8
5
8
5
9
7
13
11
15
15
6
13
15
6
6
7
8
6
7
15
6
9
8
9
6
8
10
7
17
9
9
8
7
7
1
7
6
14
13
7
8
10
6
6
9
11
6
7
6
7
5
7
9
9
6
8
10
9
6
6
9
8
7
10
7
7
6
6
9
8
8
5
6
12
11
9
3
12
7
10
6
9
6
8
8
6
6
9
6
9
10
6
9
10
7
9
7
12
6
7
13
8
5
3
6
9
8
6
6
9
6
7
10
5
6
6
7
7
6
9
7
7
10
8
9
7
6
14
12
4
7
6
8
9
8
19
8
16
6
7
7
5
9
15
6
9
6
6
12
6
7
8
3
8
7
9
7
7
8
9
5
6
6
11
6
5
8
7
8
6
7
10
5
9
8
374
6
7
5
6
6
7
8
13
7
10
13
7
8
10
6
13
7
3
6
10
6
15
5
5
9
11
5
5
10
6
9
7
6
6
9
6
6
6
8
6
6
10
9
6
10
7
5
9
6
10
10
6
11
8
8
6
8
5
15
10
7
6
10
11
9
6
1
6
7
7
10
8
6
6
5
7
6
6
6
7
7
9
5
6
7
10
7
6
6
6
6
8
7
7
10
7
9
9
7
5
19
5
7
7
9
11
6
7
6
15
12
6
6
10
13
6
6
11
7
7
11
6
7
8
9
6
5
9
8
9
7
11
8
10
6
6
8
10
5
7
9
12
6
4
7
5
9
5
8
10
11
12
6
6
6
10
7
44
21
9
8
7
6
8
9
7
6
12
6
18
8
6
8
11
8
5
7
5
7
9
6
7
6
6
5
5
9
9
10
5
5
15
6
6
6
8
7
10
9
6
8
10
8
7
6
7
26
7
9
10
5
6
6
8
9
7
7
6
7
12
4
9
11
7
11
371
9
6
8
6
6
8
10
8
9
7
11
10
17
13
8
11
14
12
11
9
11
6
9
17
9
6
7
8
7
5
9
9
33
7
13
6
8
15
8
7
6
9
9
7
6
5
8
6
7
6
6
8
14
6
8
7
7
6
9
5
6
8
12
8
4
6
7
9
6
7
8
7
9
8
8
6
8
7
7
65
6
7
16
7
7
8
8
10
9
8
9
8
8
6
9
6
7
9
7
9
9
8
6
5
8
8
10
6
7
12
9
6
3
6
7
41
8
13
8
6
6
7
7
10
10
8
8
6
9
9
6
6
11
6
11
8
12
8
9
10
7
12
8
7
10
12
6
9
26
6
7
11
6
9
7
7
11
7
7
9
9
6
10
12
6
6
9
16
7
9
9
12
8
14
6
7
8
6
6
6
10
13
7
7
8
10
8
7
7
9
26
7
9
8
7
4
8
7
10
9
14
8
12
6
13
8
8
7
7
10
6
9
5
6
9
6
6
14
8
9
7
10
6
9
21
30
9
8
9
8
6
6
5
5
11
9
6
9
7
13
5
7
6
5
8
6
6
6
5
10
7
7
6
6
6
10
10
5
8
10
8
7
7
9
7
11
15
14
11
5
8
9
7
6
9
12
6
6
7
8
6
7
7
6
11
7
10
6
10
7
5
6
5
8
5
6
7
7
6
5
5
8
7
8
6
7
7
27
8
9
7
6
9
9
8
8
11
7
7
22
8
6
10
6
7
7
6
7
11
12
9
3
6
11
6
7
6
9
11
10
25
11
13
7
11
9
7
6
14
6
9
17
8
7
6
8
6
6
8
12
7
7
7
7
12
5
11
6
7
10
8
10
9
6
7
11
9
10
9
8
6
11
6
6
13
6
6
6
5
6
15
10
7
7
12
16
9
10
9
11
372
8
9
13
6
6
6
6
7
9
9
6
9
8
10
7
7
11
13
6
7
6
11
5
6
11
9
7
7
10
6
7
8
7
10
5
6
6
7
8
8
9
8
7
6
12
7
11
11
6
6
14
14
12
8
8
9
15
15
6
9
18
12
6
12
19
5
10
11
8
6
7
6
12
7
6
10
9
10
8
18
8
9
6
6
14
8
11
7
8
6
14
8
8
7
8
10
7
7
9
7
9
7
7
11
10
6
7
6
8
6
10
8
6
6
6
7
7
9
9
13
8
11
11
9
9
7
8
10
6
13
7
8
11
7
6
7
6
8
11
9
8
7
6
10
14
7
6
8
5
8
7
7
6
10
6
7
12
19
10
15
7
14
8
5
6
7
6
9
6
6
7
6
11
9
9
8
8
8
9
8
10
9
14
12
10
10
10
28
7
6
9
18
5
6
13
6
7
6
7
18
5
5
6
7
6
8
5
6
9
9
9
8
9
5
14
5
6
7
9
6
6
5
7
7
6
7
6
6
10
9
7
8
9
5
8
11
6
9
8
7
16
14
5
10
6
7
6
12
7
6
14
15
12
7
6
5
7
14
14
1
6
7
11
11
20
9
7
16
11
13
7
5
6
14
6
6
11
24
11
7
14
16
6
7
7
11
6
7
9
8
13
10
9
11
6
7
10
8
7
13
10
7
6
6
9
8
6
9
8
12
9
7
13
6
22
6
7
11
6
11
8
14
9
5
13
13
6
10
8
9
6
27
13
8
10
7
10
7
8
8
6
7
13
7
8
14
5
14
11
11
11
6
7
23
7
6
7
9
6
10
6
7
6
9
6
18
6
10
7
8
6
16
7
37
7
7
13
6
8
7
9
6
8
8
5
8
5
6
7
6
11
7
5
14
5
5
5
10
8
11
11
5
6
7
12
20
7
9
8
5
5
9
6
14
11
6
5
8
11
7
8
6
7
10
9
8
6
6
6
11
6
11
11
5
7
5
6
6
11
6
5
13
5
10
8
7
5
5
5
10
5
9
7
7
7
6
7
8
17
7
5
6
10
7
72
6
6
6
7
8
8
6
5
16
8
5
6
5
4
9
10
8
6
10
8
7
9
6
9
9
7
9
5
15
6
6
8
6
8
5
9
10
7
9
5
8
6
12
7
8
11
12
6
7
7
6
9
9
9
13
12
7
8
6
9
9
9
11
9
8
7
10
9
7
7
12
14
7
13
9
8
6
8
6
6
10
11
6
7
11
6
11
7
9
9
8
6
5
8
8
9
10
7
8
6
8
10
6
8
5
7
10
7
10
9
5
41
13
5
5
6
14
7
7
12
10
11
6
12
5
6
5
6
7
9
6
9
6
6
7
7
6
7
5
7
30
7
8
8
10
7
11
6
7
6
6
7
6
5
8
9
9
8
11
10
2
5
9
5
8
8
8
8
10
7
9
6
8
13
6
6
7
8
10
7
21
29
5
9
6
8
4
5
6
6
7
7
11
5
6
8
14
9
7
14
6
13
7
10
8
9
7
7
6
9
7
5
13
6
9
7
8
7
14
17
9
7
9
7
6
5
16
6
13
6
6
11
12
6
8
8
5
7
8
10
6
7
6
11
7
5
8
6
7
7
16
8
9
7
6
12
5
11
6
16
8
10
10
9
7
7
11
9
6
12
7
15
8
11
10
6
8
8
6
10
9
5
13
7
20
5
7
13
5
9
7
8
8
6
5
7
15
9
8
7
5
6
8
6
9
11
7
9
7
9
7
9
7
11
7
7
7
11
7
8
6
12
8
12
7
7
8
5
8
5
7
11
6
6
6
6
9
6
5
8
7
10
6
6
7
9
4
7
6
10
7
6
8
6
7
8
7
10
7
6
7
7
8
10
7
10
8
6
5
6
12
6
8
7
7
12
8
5
12
8
8
6
7
6
6
6
9
7
12
7
7
15
7
6
8
6
8
7
6
8
6
9
6
12
8
11
9
10
9
9
7
5
9
27
8
14
6
7
7
7
6
14
6
6
10
8
8
5
13
6
7
5
6
6
9
7
6
8
15
26
12
7
6
8
6
8
6
5
7
5
13
5
12
10
7
4
9
8
7
10
9
11
10
8
7
8
12
7
7
16
10
10
8
4
9
7
7
7
5
5
6
6
7
9
7
13
9
7
6
9
7
6
6
9
5
11
7
5
7
8
6
5
10
5
8
7
8
9
8
1
8
8
10
6
12
10
13
7
8
9
6
8
7
5
6
4
9
5
7
13
5
6
9
6
8
7
9
11
5
7
8
9
12
7
6
6
7
7
7
10
18
7
9
10
7
17
13
9
6
9
8
11
8
2
13
7
11
13
6
21
7
5
7
6
6
8
11
8
6
13
9
3
9
10
9
7
11
6
6
6
6
7
7
9
96
7
7
7
5
6
7
2
6
9
8
7
10
6
6
10
5
6
11
8
10
5
7
9
6
10
7
3
10
6
6
8
8
6
7
10
7
6
6
7
9
6
8
9
15
10
25
12
5
5
6
13
9
7
7
8
8
7
7
8
18
9
7
11
7
10
7
6
6
8
9
13
8
10
4
14
7
7
8
7
7
5
8
8
6
5
10
19
8
12
8
13
6
7
7
9
5
14
8
14
6
7
8
7
6
10
15
9
12
12
5
6
12
16
8
9
10
11
5
5
7
7
7
8
6
5
8
10
11
5
10
5
11
5
13
7
5
7
6
10
6
6
11
15
13
9
7
6
7
6
9
7
5
7
6
5
6
7
9
7
5
5
14
6
8
12
8
9
6
5
6
10
6
5
5
9
5
7
6
13
6
12
11
8
5
6
5
11
5
5
7
12
8
6
3
12
10
5
12
6
5
27
13
5
6
5
6
8
5
10
5
8
6
6
11
10
7
6
10
8
6
5
6
6
6
5
17
5
12
5
7
5
14
6
6
5
6
5
11
5
6
6
10
16
6
7
9
6
6
9
7
8
9
14
7
7
10
7
8
7
8
6
11
11
5
17
8
5
5
7
6
7
5
9
10
11
16
7
7
7
10
8
13
5
7
10
4
5
10
13
9
5
5
8
11
8
6
10
14
6
10
7
5
5
7
7
7
5
6
8
9
12
8
6
8
7
8
6
6
5
8
8
11
7
11
5
7
5
6
7
9
10
6
29
12
16
11
7
11
6
6
5
7
7
9
6
8
15
7
15
8
7
8
7
6
5
5
5
6
10
5
8
6
9
7
7
8
5
13
6
10
6
7
16
8
10
5
6
6
5
47
6
11
12
8
6
5
7
7
5
5
6
7
5
10
9
5
7
6
5
6
6
11
6
8
5
6
6
6
5
5
6
8
19
6
6
10
6
7
7
7
6
6
8
9
10
8
5
7
7
5
5
6
8
6
5
5
5
8
5
6
5
13
6
6
7
38
7
8
7
8
8
6
10
5
7
7
8
8
6
6
6
7
7
5
6
5
6
7
8
6
8
11
7
9
5
9
6
12
6
9
6
16
5
7
8
8
7
6
14
7
7
6
8
6
9
6
7
7
6
9
6
5
6
8
5
7
11
9
8
10
12
6
12
10
6
6
8
7
7
6
4
8
7
19
10
6
10
8
10
7
6
6
5
13
5
9
6
17
8
9
12
10
13
9
8
6
6
6
9
6
6
9
6
8
6
8
7
9
10
5
7
7
6
10
9
10
14
5
8
9
7
7
5
9
6
9
11
10
6
5
5
8
9
7
5
7
10
7
6
6
11
6
9
7
5
5
5
5
13
9
8
6
6
8
6
7
7
12
7
6
12
7
7
8
7
6
6
14
11
5
8
6
6
5
12
7
6
5
6
11
7
7
7
7
5
7
8
7
14
8
7
8
19
7
6
10
9
8
5
8
7
7
10
7
8
7
7
6
7
5
5
11
9
7
6
7
6
6
8
5
6
10
6
6
5
6
6
9
5
6
13
6
10
8
7
11
9
8
9
6
8
7
5
9
7
7
7
12
6
14
5
7
9
6
9
5
7
18
8
6
5
10
6
6
6
10
6
5
8
17
6
5
6
9
8
9
8
7
6
8
7
7
7
6
5
8
8
6
8
6
7
12
6
6
7
6
8
6
8
7
6
8
9
6
8
9
18
7
8
8
9
7
8
8
17
7
9
10
6
7
6
16
6
8
15
7
8
6
6
5
7
6
9
5
5
13
9
5
11
10
7
5
12
27
6
5
9
6
10
6
5
6
6
7
7
10
5
5
11
7
5
9
16
12
15
4
5
5
7
11
12
6
5
7
6
10
6
9
21
6
7
10
11
8
6
5
5
7
9
5
7
7
7
13
5
4
5
6
8
8
5
5
6
5
5
9
10
5
5
10
6
9
8
10
6
6
10
7
8
7
10
6
10
5
5
8
5
6
6
5
7
5
11
8
10
6
8
8
6
7
8
8
7
6
10
6
15
6
9
8
7
11
7
9
8
10
6
6

In [1399]:
tabba_df['LOSLOS1'] = np.where(tabba_df["LOS"] > 15, True, False)
i = tabba_df[(tabba_df.LOSLOS1 == True)].TempSNO
print(i)

19        20
22        23
47        48
83        84
90        91
        ...
5199    5200
5206    5207
5228    5229
5247    5248
5263    5264
Name: TempSNO, Length: 203, dtype: int64

In [1400]:
tabba_df['LOSLOS1'].value_counts()

False    5138
True      203
Name: LOSLOS1, dtype: int64

In [1401]:
tabba_df['LOSLOS2'] = np.where(tabba_df["LOS"] > 7, True, False)
i = tabba_df[(tabba_df.LOSLOS2 == True)].TempSNO
print(i)

1          2
4          5
5          6
6          7
8          9
        ...
5334    5335
5336    5337
5338    5339
5339    5340
5340    5341
Name: TempSNO, Length: 2517, dtype: int64

In [1402]:
tabba_df['LOSLOS2'].value_counts()

False    2824
True     2517
Name: LOSLOS2, dtype: int64

In [1403]:
tabba_df['LOSLOS3'] = np.where(tabba_df["LOS"] > 30, True, False)
i = tabba_df[(tabba_df.LOSLOS3 == True)].TempSNO
print(i)
tabba_df['LOSLOS3'].value_counts()

112      113
167      168
664      665
693      694
1266    1267
1277    1278
1323    1324
2047    2048
2072    2073
2073    2074
2234    2235
2286    2287
2294    2295
2747    2748
2905    2906
2973    2974
3006    3007
3053    3054
3089    3090
3374    3375
3748    3749
3839    3840
3951    3952
4434    4435
4814    4815
4880    4881
Name: TempSNO, dtype: int64

False    5315
True       26
Name: LOSLOS3, dtype: int64

In [1404]:
tabba_df['LOSLOS4'] = np.where(tabba_df["LOS"] > 96, True, False)
i = tabba_df[(tabba_df.LOSLOS4 == True)].TempSNO
print(i)
tabba_df['LOSLOS4'].value_counts()

167      168
2286    2287
2294    2295
2747    2748
2973    2974
3374    3375
Name: TempSNO, dtype: int64

False    5335
True        6
Name: LOSLOS4, dtype: int64

In [1405]:
tabba_df.shape

(5341, 583)

#### Deleting Outliers

In [1406]:
tabba_df = tabba_df[tabba_df.TempSNO != 168]
tabba_df = tabba_df[tabba_df.TempSNO != 2287]
tabba_df = tabba_df[tabba_df.TempSNO != 2295]
tabba_df = tabba_df[tabba_df.TempSNO != 2748]
tabba_df = tabba_df[tabba_df.TempSNO != 2974]
tabba_df = tabba_df[tabba_df.TempSNO != 3375]

#### Deleting newly created LOS columns

In [1407]:
tabba_df = tabba_df.drop(['LOSLOS1','LOSLOS2','LOSLOS3','LOSLOS4','comparison_column'],axis=1)

In [1408]:
tabba_df.shape

(5335, 578)

## Step 1: EDA

#### Deleting identifiers and language columns

In [1409]:
identifier_langs = ['TempSNO','town_id','city_id','Balochi','Barahvi','Pushto','Hindko','Punjabi','Sindhi','Siraiki','Urdu','Afghani','Gujrati','Others_C']
tabba_df = tabba_df.drop(identifier_langs, axis = 1)
tabba_df.shape

(5335, 564)

 #### Deleting other surgery columns

#### List of Other Cardiac Procedures

In [1410]:
tabba_other_cardiac = ['lv_aneurysm_repair','vsd_repair','asd_repair','batista','svr','congenital_defect_repair','cardiac_trauma','None_A','PermanentPacemaker','PermanentPacemakerwithCRT','ImplantedCardioverterDefibrillatorICD','ICDwithCRT','Epicardial','Endocardial','None','StandardSurgicalMazeProcedure','OtherSurgicalAblativeProcedure','CombinationofStandardandOther','UnipolarRadiofrequency','BipolarRadiofrequency','Microwave','Cryothermia','Other_C','Combinationofabove','aortic_aneursysm','ascending_aorta','aortic_arch','descending_aorta','thorac_abdominal_aorta','BTShunt','PAbanding','Coarctationofaorta','TOF','PDAligation','GlennShunt','Others','other_cardiac_procedure','specify_other_cardiac_procedure']

In [1411]:
tabba_df.shape

(5335, 564)

In [1412]:
tabba_df = tabba_df.drop(tabba_other_cardiac , axis = 1)

In [1413]:
tabba_df.shape

(5335, 526)

#### List of Valve surgery measures

In [1414]:
valve_surgery = ['No_E' , 'AnnuloplastyOnly_A' , 'Replacement_B' , 'ReconstructionwAnnuloplasty' , 'ReconstructionwoutAnnuloplasty_A' , 'Comvar' , 'No_D' , 'AnnuloplastyOnly' , 'Replacement_A' , 'ReconstructionwoutAnnuloplasty' , 'SparingValvectomy' , 'No_C' , 'Replacement' , 'Reconstruction' , 'annular_enlargement' , 'None_E' , 'M_C' , 'B_C' , 'H_C' , 'A_C' , 'R_C' , 'BA_C' , 'implant' , 'ap_size' , 'None_D' , 'M_B' , 'B_B' , 'H_B' , 'A_B' , 'R_B' , 'BA_B' , 'mpi_implant' , 'mp_size' , 'None_C' , 'M_A' , 'B_A' , 'H_A' , 'A_A' , 'R_A' , 'BA_A' , 'tp_implant' , 'tp_size' , 'None_B' , 'M' , 'B' , 'H' , 'A' , 'R' , 'BA' , 'pp_implant' , 'pp_size' ]

In [1415]:
tabba_df = tabba_df.drop(valve_surgery , axis = 1)

In [1416]:
tabba_df.shape

(5335, 475)

#### List of Other Non-Cardiac Procedures

In [1417]:
cardiac_procedures_not = ['carotid_endarterectomy','other_vascular','other_thoracic','other_B']

In [1418]:
tabba_df = tabba_df.drop(cardiac_procedures_not , axis = 1)

In [1419]:
tabba_df.shape

(5335, 471)

#### List of Readmission

In [1420]:
Readmission = ['No','AtTHI','Outside','DontKnow','anticoagulation_valvular','anticoagulation_pharmacological','arrhythmias_heart_block','congestive_heart_failure','recurrent_angina','pericardial_tamponade','pneumonia_respiratory_complication','coronary_artery_dysfunction','valve_dysfunction','infection_deep_sternum','infection_conduit_harvest','renal_failure','tia','permanent_cva','acute_vascular_complication','subacute_Endocarditis','other_related_readmission','other_non_related_readmission','plural_effusion','or_for_bleeding','pacemaker_insertion_aicd','readmission_pci','pericardiotomy','or_for_coronary_arteries','or_for_valve','or_for_sternal_debridement','readmission_dialysis','or_for_vascular','no_procedure_performed','other_procedure','intercostal_drain']

In [1421]:
tabba_df = tabba_df.drop(Readmission , axis = 1)

In [1422]:
tabba_df.shape

(5335, 436)

#### List of post-operative measures

In [1423]:
post_operative = ['blood_products_used','red_blood_cell_units','fresh_frozen_plasma_units','cryoprecipitate_units','platelet_units','extubated_in_or','initial_hours_ventilated','reintubated_hospital_stay','additional_hours_ventilated','initial_icu_stay','readmitted','drainage_at_12_hours','drainage_at_24_hours']

In [1424]:
tabba_df = tabba_df.drop(post_operative , axis = 1)

#### List of Complications

In [1425]:
complications = ['hospital_complications','reop_bleeding_tamponade','reop_valvular_dysfunction','reop_graftocclusion','reop_other_cardiac_problem','reop_other_non_cardiac_problem','perioperative_mi','sternum_deep','thoracotomy','leg','septicemia','illiac_femoral_dissection','acute_limb_ischemia','post_operative_stroke','transient_deficit','continuous_coma','post_op_creatinine','dialysis_newly_required','prolonged_ventilation','pulmonary_embolism','pneumonia','pleural_effusion','pulmonary_edema','heart_block','cardiac_arrest','anticoagulant_complication','tamponade','gastro_intestinal_complication','heart_failure','multi_system_failure','atrial_fibrillation','ventricular_tachycardia','ventricular_fibrillation','aortic_dissection','inotropics_used','complications_other']

In [1426]:
tabba_df = tabba_df.drop(complications , axis = 1)
tabba_df.shape

(5335, 387)

#### List of Discharge Medications & Advice

In [1427]:
discharge_med = ['aadp_inhibitors','antirrhythmics','Admiodarone','Other_A','aspirin','ace_inhibitors','beta_blockers','lipid_lowering','Statin','Nonstatin','warfarin','Home','ExtentedCareTCU','OtherHospital','NursingHome','Other','Yes_A','No_B','NotApplicable_A','Yes','No_A','NotApplicable']

In [1428]:
tabba_df = tabba_df.drop(discharge_med , axis = 1)
tabba_df.shape

(5335, 365)

#### List of Follow-up columns

In [1429]:
follow_ups = ['Alive_B','I_B','admission','intervention','admission5Years','intervention5Years']

In [1430]:
tabba_df = tabba_df.drop(follow_ups , axis = 1)
tabba_df.shape

(5335, 359)

#### List of Mortality Columns

In [1431]:
mortality = ['in_hospital_mortality','mortality_date','ORduringinitialsurgery','ORduringreoperation','Hospital','OtherCareFacility','Cardiac','Neurological','Renal','Vascular','Infection','Pulmonary','Valvular','Unknown','OthersSpecify','other_cause_of_death']

In [1432]:
tabba_df = tabba_df.drop(mortality , axis = 1)
tabba_df.shape

(5335, 343)

#### Now deleting all date type columns

In [1433]:
date_cols = ['skin_incision_start_time','or_entry_date','or_entry_time','date_of_admission','date_of_discharge','date_of_surgery','angiography_date','or_exit_date','or_exit_time','intubation_date','intubation_time','extubation_date','extubation_time','skin_incision_start_date','skin_incision_closure_date','skin_incision_closure_time']

In [1434]:
tabba_df = tabba_df.drop(date_cols , axis = 1)
tabba_df.shape

(5335, 327)

#### Missing Value Check

In [1435]:
tabba_df.isnull().sum()

gender_id               0
patient_age             0
lhc_done_at_thi         0
icu_visit               0
initial_icu_hours      61
                     ...
pneumothorax            0
haemothorax             0
specify_other        4751
LOS                     0
LOSLOS0                 0
Length: 327, dtype: int64

#### Merging columns

#### Case1: Merging Cerebrovascular Disease Columns

In [1436]:
tabba_df['No_J'] = tabba_df['No_J'].replace(['1'],'0')
tabba_df['No_J'].value_counts()

0    5057
Name: No_J, dtype: int64

In [1437]:
tabba_df['RIND'] = tabba_df['RIND'].replace(['1'],'2')
tabba_df['RIND'].value_counts()

Series([], Name: RIND, dtype: int64)

In [1438]:
tabba_df['CVA'] = tabba_df['CVA'].replace(['1'],'3')
tabba_df['CVA'].value_counts()

3    219
Name: CVA, dtype: int64

In [1439]:
tabba_df['Coma'] = tabba_df['Coma'].replace(['1'],'4')
tabba_df['Coma'].value_counts()

4    2
Name: Coma, dtype: int64

In [1440]:
tabba_df["cerebrovascular_disease"] =tabba_df['No_J'].map(str)+tabba_df['TIA_A'].map(str)+tabba_df['RIND'].map(str)+tabba_df['CVA'].map(str)+tabba_df['Coma'].map(str)
tabba_df["cerebrovascular_disease"].value_counts()

0nannannannan      5039
nannannan3nan       203
nan1nannannan        57
nannannannannan      15
0nannan3nan          14
01nannannan           3
nan1nan3nan           2
nannannannan4         1
0nannannan4           1
Name: cerebrovascular_disease, dtype: int64

In [1441]:
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['0nannannannan'],'0')
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['nannannan3nan'],'3')
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['nan1nannannan'],'1')
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['nannannannannan'],np.nan)
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['0nannan3nan'],'1')#we have more zero's
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['01nannannan'],np.nan)#we have more 0's
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['nan1nan3nan'],'1')#we have more 1's
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['nannannannan4'],'4')
tabba_df['cerebrovascular_disease'] = tabba_df['cerebrovascular_disease'].replace(['0nannannan4'],'0')#more 0's
tabba_df["cerebrovascular_disease"].value_counts()

0    5040
3     203
1      73
4       1
Name: cerebrovascular_disease, dtype: int64

#### deleting merged columns

In [1442]:
tabba_df = tabba_df.drop(['No_J','TIA_A','RIND','CVA','Coma'],axis=1)
tabba_df.shape

(5335, 323)

#### Case2 : Merging Carotid Disease columns

In [1443]:
tabba_df['None_N'] = tabba_df['None_N'].replace(['1'],'0')
tabba_df["None_N"].value_counts()

0    5083
1     223
Name: None_N, dtype: int64

In [1444]:
tabba_df['PreviousCarotidSurgery'] = tabba_df['PreviousCarotidSurgery'].replace(['1'],'2')
tabba_df["PreviousCarotidSurgery"].value_counts()

2    2
Name: PreviousCarotidSurgery, dtype: int64

In [1445]:
tabba_df["carotid_surgery"] =tabba_df['None_N'].map(str)+tabba_df['NonInvasive75'].map(str)+tabba_df['PreviousCarotidSurgery'].map(str)
tabba_df["carotid_surgery"].value_counts()

0nannan      5083
1nannan       223
nannannan      22
nan1nan         5
nannan2         2
Name: carotid_surgery, dtype: int64

In [1446]:
tabba_df['carotid_surgery'] = tabba_df['carotid_surgery'].replace(['0nannan'],'0')
tabba_df['carotid_surgery'] = tabba_df['carotid_surgery'].replace(['1nannan'],'1')
tabba_df['carotid_surgery'] = tabba_df['carotid_surgery'].replace(['nannannan'],np.nan)
tabba_df['carotid_surgery'] = tabba_df['carotid_surgery'].replace(['nan1nan'],'1')
tabba_df['carotid_surgery'] = tabba_df['carotid_surgery'].replace(['nannan2'],'2')
tabba_df["carotid_surgery"].value_counts()

0    5083
1     228
2       2
Name: carotid_surgery, dtype: int64

In [1447]:
tabba_df = tabba_df.drop(['None_N','NonInvasive75','PreviousCarotidSurgery'],axis=1)
tabba_df.shape

(5335, 321)

#### Case3: Merging Pulmonic Stenosis

In [1448]:
tabba_df['None_H'] = tabba_df['None_H'].replace(['1'],'0')
tabba_df["None_H"].value_counts()

0    4678
Name: None_H, dtype: int64

In [1449]:
tabba_df['Mild'] = tabba_df['Mild'].replace(['1'],'2')
tabba_df["Mild"].value_counts()

2    188
Name: Mild, dtype: int64

In [1450]:
tabba_df['Moderate'] = tabba_df['Moderate'].replace(['1'],'3')
tabba_df["Moderate"].value_counts()

3    6
Name: Moderate, dtype: int64

In [1451]:
tabba_df['Severe'] = tabba_df['Severe'].replace(['1'],'4')
tabba_df["Severe"].value_counts()

Series([], Name: Severe, dtype: int64)

In [1452]:
tabba_df["pulmonic_stenosis"] =tabba_df['None_H'].map(str)+tabba_df['Trivial'].map(str)+tabba_df['Mild'].map(str)+tabba_df['Moderate'].map(str)+tabba_df['Severe'].map(str)
tabba_df["pulmonic_stenosis"].value_counts()

0nannannannan      4678
nan1nannannan       438
nannan2nannan       188
nannannannannan      25
nannannan3nan         6
Name: pulmonic_stenosis, dtype: int64

In [1453]:
tabba_df['pulmonic_stenosis'] = tabba_df['pulmonic_stenosis'].replace(['0nannannannan'],'0')
tabba_df['pulmonic_stenosis'] = tabba_df['pulmonic_stenosis'].replace(['nan1nannannan'],'1')
tabba_df['pulmonic_stenosis'] = tabba_df['pulmonic_stenosis'].replace(['nannan2nannan'],2)
tabba_df['pulmonic_stenosis'] = tabba_df['pulmonic_stenosis'].replace(['nannannannannan'],np.nan)
tabba_df['pulmonic_stenosis'] = tabba_df['pulmonic_stenosis'].replace(['nannannan3nan'],3)
tabba_df["pulmonic_stenosis"].value_counts()

0    4678
1     438
2     188
3       6
Name: pulmonic_stenosis, dtype: int64

In [1454]:
tabba_df = tabba_df.drop(['None_H','Trivial','Mild','Moderate','Severe'],axis=1)

In [1455]:
tabba_df.shape

(5335, 316)

#### Case4: Merging Infectious Endocarditis Columns

In [1456]:
tabba_df['No_I'] = tabba_df['No_I'].replace(['1'],'0')
tabba_df["No_I"].value_counts()

0    5092
1     223
Name: No_I, dtype: int64

In [1457]:
tabba_df['Active'] = tabba_df['Active'].replace(['1'],'2')
tabba_df["Active"].value_counts()

Series([], Name: Active, dtype: int64)

In [1458]:
tabba_df['infectious_endo'] =tabba_df['No_I'].map(str)+tabba_df['Cured'].map(str)+tabba_df['Active'].map(str)
tabba_df["infectious_endo"].value_counts()

0nannan      5092
1nannan       223
nannannan      20
Name: infectious_endo, dtype: int64

In [1459]:
tabba_df['infectious_endo'] = tabba_df['infectious_endo'].replace(['0nannan'],'0')
tabba_df['infectious_endo'] = tabba_df['infectious_endo'].replace(['1nannan'],'1')
tabba_df['infectious_endo'] = tabba_df['infectious_endo'].replace(['nannannan'],np.nan)
tabba_df["infectious_endo"].value_counts()

0    5092
1     223
Name: infectious_endo, dtype: int64

In [1460]:
tabba_df =tabba_df.drop(['No_I','Cured','Active'],axis=1)
tabba_df.shape

(5335, 314)

#### Case 5: Merging Glycoprotein llb/IIIa Inhibitor:

In [1461]:
tabba_df['No_H'] = tabba_df['No_H'].replace(['1'],'0')
tabba_df['No_H'].value_counts()

0    5275
Name: No_H, dtype: int64

In [1462]:
tabba_df['EptifibatiedIntegrilin'] = tabba_df['EptifibatiedIntegrilin'].replace(['1'],'2')
tabba_df['EptifibatiedIntegrilin'].value_counts()

Series([], Name: EptifibatiedIntegrilin, dtype: int64)

In [1463]:
tabba_df["Glycoprotein"] =tabba_df['No_H'].map(str)+tabba_df['AbciximapReoPro'].map(str)+tabba_df['EptifibatiedIntegrilin'].map(str)
tabba_df["Glycoprotein"].value_counts()

0nannan      5275
nannannan      59
nan1nan         1
Name: Glycoprotein, dtype: int64

In [1464]:
tabba_df['Glycoprotein'] = tabba_df['Glycoprotein'].replace(['0nannan'],'0')
tabba_df['Glycoprotein'] = tabba_df['Glycoprotein'].replace(['nan1nan'],'1')
tabba_df['Glycoprotein'] = tabba_df['Glycoprotein'].replace(['nannannan'],np.nan)
tabba_df["Glycoprotein"].value_counts()

0    5275
1       1
Name: Glycoprotein, dtype: int64

In [1465]:
tabba_df = tabba_df.drop(['No_H','AbciximapReoPro','EptifibatiedIntegrilin'],axis=1)
tabba_df.shape

(5335, 312)

#### Case 6: Merging Number of Diseased Coronary Vessels

In [1466]:
tabba_df['None_L'] = tabba_df['None_L'].replace(['1'],'0')
tabba_df['None_L'].value_counts()

Series([], Name: None_L, dtype: int64)

In [1467]:
tabba_df['Two'] = tabba_df['Two'].replace(['1'],'2')
tabba_df['Two'].value_counts()

2    487
Name: Two, dtype: int64

In [1468]:
tabba_df['Three'] = tabba_df['Three'].replace(['1'],'3')
tabba_df['Three'].value_counts()

3    4815
Name: Three, dtype: int64

In [1469]:
tabba_df["no_of_diseased_vessels"] = tabba_df['None_L'].map(str)+tabba_df['One'].map(str)+tabba_df['Two'].map(str)+tabba_df['Three'].map(str)
tabba_df["no_of_diseased_vessels"] .value_counts()

nannannan3    4815
nannan2nan     487
nan1nannan      33
Name: no_of_diseased_vessels, dtype: int64

In [1470]:
tabba_df['no_of_diseased_vessels'] = tabba_df['no_of_diseased_vessels'].replace(['nannannan3'],'3')
tabba_df['no_of_diseased_vessels'] = tabba_df['no_of_diseased_vessels'].replace(['nannan2nan'],'2')
tabba_df['no_of_diseased_vessels'] = tabba_df['no_of_diseased_vessels'].replace(['nan1nannan'],'1')
tabba_df["no_of_diseased_vessels"] .value_counts()

3    4815
2     487
1      33
Name: no_of_diseased_vessels, dtype: int64

In [1471]:
tabba_df = tabba_df.drop(['None_L','One','Two','Three'],axis=1)
tabba_df.shape

(5335, 309)

#### Case 7: Merging Aortic Occlution

In [1472]:
tabba_df['None_F'] = tabba_df['None_F'].replace(['1'],'0')
tabba_df['None_F'].value_counts()

0    9
Name: None_F, dtype: int64

In [1473]:
tabba_df['BalloonOcclusion'] = tabba_df['BalloonOcclusion'].replace(['1'],'2')
tabba_df['BalloonOcclusion'].value_counts()

2    2
Name: BalloonOcclusion, dtype: int64

In [1474]:
tabba_df['PartialCrossClamp'] = tabba_df['PartialCrossClamp'].replace(['1'],'3')
tabba_df['PartialCrossClamp'].value_counts()

3    4
Name: PartialCrossClamp, dtype: int64

In [1475]:
tabba_df["Aortic_occlusion"] = tabba_df['None_F'].map(str)+tabba_df['AorticCrossClamp'].map(str)+tabba_df['BalloonOcclusion'].map(str)+tabba_df['PartialCrossClamp'].map(str)
tabba_df["Aortic_occlusion"].value_counts()

nan1nannan      5195
nannannannan     125
0nannannan         5
01nannan           4
nan1nan3           4
nan12nan           1
nannan2nan         1
Name: Aortic_occlusion, dtype: int64

In [1476]:
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['nan1nannan'],'1')
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['nannannannan'],np.nan)
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['0nannannan'],'0')
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['nan1nan3'],'1') #taking 1 because most of the cases are for AorticCrossClamp
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['01nannan'],'1')##taking 1 because most of the cases are for AorticCrossClamp
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['nannan2nan'],'2')
tabba_df['Aortic_occlusion'] = tabba_df['Aortic_occlusion'].replace(['nan12nan'],'1')##taking 1 because most of the cases are for AorticCrossClamp
tabba_df['Aortic_occlusion'].value_counts()

1    5204
0       5
2       1
Name: Aortic_occlusion, dtype: int64

In [1477]:
tabba_df = tabba_df.drop(['None_F','AorticCrossClamp','BalloonOcclusion','PartialCrossClamp'],axis=1)
tabba_df.shape

(5335, 306)

#### Case 8 : Merging Antibiotics

In [1478]:
tabba_df['VancomycinÂcefazolin'] = tabba_df['VancomycinÂcefazolin'].replace(['1'],'2')
tabba_df['VancomycinÂcefazolin'].value_counts()

2    175
Name: VancomycinÂcefazolin, dtype: int64

In [1479]:
tabba_df['Other_F'] = tabba_df['Other_F'].replace(['1'],'3')
tabba_df['Other_F'].value_counts()

3    123
Name: Other_F, dtype: int64

In [1480]:
tabba_df['antibiotic_specify'] = tabba_df['antibiotic_specify'].replace(['1'],'4')
tabba_df['antibiotic_specify'].value_counts()

Series([], Name: antibiotic_specify, dtype: int64)

In [1481]:
tabba_df["antibiotics"] = tabba_df['Cefazolin'].map(str)+tabba_df['VancomycinÂcefazolin'].map(str)+tabba_df['Other_F'].map(str)+tabba_df['antibiotic_specify'].map(str)
tabba_df["antibiotics"].value_counts()

1nannannan      5141
nan23nan         109
12nannan          58
nannan3nan        13
nan2nannan         8
nannannannan       5
1nan3nan           1
Name: antibiotics, dtype: int64

In [1482]:
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['1nannannan'],'1')
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['nan23nan'],'2')#2 has more values
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['12nannan'],'1')#1 has more values
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['nannan3nan'],'3') 
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['nan2nannan'],'2')##taking 1 because most of the cases are for AorticCrossClamp
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['nannannannan'],np.nan)
tabba_df['antibiotics'] = tabba_df['antibiotics'].replace(['1nan3nan'],'1')#because 1 has more values
tabba_df['antibiotics'].value_counts()

1    5200
2     117
3      13
Name: antibiotics, dtype: int64

In [1483]:
tabba_df = tabba_df.drop(['Cefazolin','VancomycinÂcefazolin','Other_F','antibiotic_specify'],axis=1)
tabba_df.shape

(5335, 303)

#### Case 9 : Merging CPG Utilization

In [1484]:
tabba_df['None_G'] = tabba_df['None_G'].replace(['1'],'0')
tabba_df['Combination_A'].value_counts()

1    1
Name: Combination_A, dtype: int64

In [1485]:
tabba_df['Full'] = tabba_df['Full'].replace(['1'],'2')
tabba_df['Full'].value_counts()

2    4978
1     223
Name: Full, dtype: int64

In [1486]:
tabba_df['Planned'] = tabba_df['Planned'].replace(['1'],'3')
tabba_df['Planned'] .value_counts()

Series([], Name: Planned, dtype: int64)

In [1487]:
tabba_df['Unplanned'] = tabba_df['Unplanned'].replace(['1'],'4')
tabba_df['Unplanned'] .value_counts()

4    1
Name: Unplanned, dtype: int64

In [1488]:
tabba_df["CPG_utilization"] = tabba_df['None_G'].map(str)+tabba_df['Combination_A'].map(str)+tabba_df['Full'].map(str)+tabba_df['Planned'].map(str)+tabba_df['Unplanned'].map(str)
tabba_df['CPG_utilization'] .value_counts()

nannan2nannan      4978
nannan1nannan       223
0nannannannan       111
nannannannannan      22
nan1nannan4           1
Name: CPG_utilization, dtype: int64

In [1489]:
tabba_df['CPG_utilization'] = tabba_df['CPG_utilization'].replace(['nannan2nannan'],'2')
tabba_df['CPG_utilization'] = tabba_df['CPG_utilization'].replace(['nannan1nannan'],'1')
tabba_df['CPG_utilization'] = tabba_df['CPG_utilization'].replace(['0nannannannan'],'0')#2 has more values
tabba_df['CPG_utilization'] = tabba_df['CPG_utilization'].replace(['nannannannannan'],np.nan)#1 has more values
tabba_df['CPG_utilization'] = tabba_df['CPG_utilization'].replace(['nan1nannan4'],'1') # both have equal values.
tabba_df["CPG_utilization"].value_counts()

2    4978
1     224
0     111
Name: CPG_utilization, dtype: int64

In [1490]:
tabba_df = tabba_df.drop(['None_G','Combination_A','Full','Planned','Unplanned'],axis=1)
tabba_df.shape

(5335, 299)

#### Case 10: Merging Cannulation Methods

In [1491]:
tabba_df['FemoralArteryandFemVein'] = tabba_df['FemoralArteryandFemVein'].replace(['1'],'2')
tabba_df['FemoralArteryandFemVein'].value_counts()

2    5
Name: FemoralArteryandFemVein, dtype: int64

In [1492]:
tabba_df['AortaandAtrialCaval'] = tabba_df['AortaandAtrialCaval'].replace(['1'],'3')
tabba_df['AortaandAtrialCaval'].value_counts()

3    4967
1     223
Name: AortaandAtrialCaval, dtype: int64

In [1493]:
tabba_df['FemoralArtandAtrialCaval'] = tabba_df['FemoralArtandAtrialCaval'].replace(['1'],'4')
tabba_df['FemoralArtandAtrialCaval'].value_counts()

Series([], Name: FemoralArtandAtrialCaval, dtype: int64)

In [1494]:
tabba_df['Other_D'] = tabba_df['Other_D'].replace(['1'],'5')
tabba_df['Other_D'].value_counts()

Series([], Name: Other_D, dtype: int64)

In [1495]:
tabba_df["cannulation_methods"] = tabba_df['AortaandFemoralVein'].map(str)+tabba_df['FemoralArteryandFemVein'].map(str)+tabba_df['AortaandAtrialCaval'].map(str)+tabba_df['FemoralArtandAtrialCaval'].map(str)+tabba_df['Other_D'].map(str)
tabba_df["cannulation_methods"].value_counts()

nannan3nannan      4962
nannan1nannan       223
nannannannannan     145
nan23nannan           5
Name: cannulation_methods, dtype: int64

In [1496]:
tabba_df['cannulation_methods'] = tabba_df['cannulation_methods'].replace(['nannan3nannan'],'3')
tabba_df['cannulation_methods'] = tabba_df['cannulation_methods'].replace(['nannan1nannan'],'1')
tabba_df['cannulation_methods'] = tabba_df['cannulation_methods'].replace(['nannannannannan'],np.nan)
tabba_df['cannulation_methods'] = tabba_df['cannulation_methods'].replace(['nan23nannan'],'3')#3 has more values
tabba_df["cannulation_methods"].value_counts()

3    4967
1     223
Name: cannulation_methods, dtype: int64

In [1497]:
tabba_df = tabba_df.drop(['AortaandFemoralVein','FemoralArteryandFemVein','AortaandAtrialCaval','FemoralArtandAtrialCaval','Other_D'],axis=1)
tabba_df.shape

(5335, 295)

#### Case 11 : Merging Ventricular Septal Defect Columns

In [1498]:
tabba_df['NO_G'] = tabba_df['NO_G'].replace(['1'],'0')
tabba_df['NO_G'].value_counts()

0    4063
1    1246
Name: NO_G, dtype: int64

In [1499]:
tabba_df['Congenital'] = tabba_df['Congenital'].replace(['1'],'2')
tabba_df['Congenital'].value_counts()

Series([], Name: Congenital, dtype: int64)

In [1500]:
tabba_df['VSDOthers'] = tabba_df['VSDOthers'].replace([1.0],'3')
tabba_df['VSDOthers'].value_counts()

C:\Users\Hp\anaconda3\lib\site-packages\IPython\core\displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

0    4489
3     846
Name: VSDOthers, dtype: int64

In [1501]:
tabba_df["vsd"] = tabba_df['NO_G'].map(str)+tabba_df['PostMIAcquired'].map(str)+tabba_df['Congenital'].map(str)
tabba_df['vsd'].value_counts()

0nannan      4063
1nannan      1246
nannannan      26
Name: vsd, dtype: int64

In [1502]:
tabba_df['vsd'] = tabba_df['cannulation_methods'].replace(['nannannan'],np.nan)
tabba_df['vsd'] = tabba_df['cannulation_methods'].replace(['0nannan'],'0')
tabba_df['vsd'].value_counts()

3    4967
1     223
Name: vsd, dtype: int64

In [1503]:
tabba_df = tabba_df.drop(['NO_G','PostMIAcquired','Congenital'],axis=1)
tabba_df.shape

(5335, 293)

#### Case 12: Merging Ejection Fraction

In [1504]:
tabba_df['Notrecorded'] = tabba_df['Notrecorded'].replace(['1'],'0')
tabba_df['Notrecorded'].value_counts()

0    1
Name: Notrecorded, dtype: int64

In [1505]:
tabba_df['LVgrarn'] = tabba_df['LVgrarn'].replace(['1'],'2')
tabba_df['LVgrarn'].value_counts()

2    6
Name: LVgrarn, dtype: int64

In [1506]:
tabba_df['Radionucleotide'] = tabba_df['Radionucleotide'].replace(['1'],'3')
tabba_df['Radionucleotide'].value_counts()

3    1
Name: Radionucleotide, dtype: int64

In [1507]:
tabba_df['Estimate'] = tabba_df['Estimate'].replace(['1'],'4')
tabba_df['Estimate'].value_counts()

4    2
Name: Estimate, dtype: int64

In [1508]:
tabba_df["ejection_fraction"] = tabba_df['Notrecorded'].map(str)+tabba_df['ECHO'].map(str)+tabba_df['LVgrarn'].map(str)+tabba_df['Radionucleotide'].map(str)+tabba_df['Estimate'].map(str)
tabba_df["ejection_fraction"].value_counts()

nan1nannannan      5285
nannannannannan      40
nannan2nannan         6
nannannannan4         2
nannannan3nan         1
0nannannannan         1
Name: ejection_fraction, dtype: int64

In [1509]:
tabba_df['ejection_fraction'] = tabba_df['ejection_fraction'].replace(['nan1nannannan'],'1')
tabba_df['ejection_fraction'] = tabba_df['ejection_fraction'].replace(['nannannannannan'],np.nan)
tabba_df['ejection_fraction'] = tabba_df['ejection_fraction'].replace(['nannan2nannan'],'2')
tabba_df['ejection_fraction'] = tabba_df['ejection_fraction'].replace(['nannannannan4'],'4')
tabba_df['ejection_fraction'] = tabba_df['ejection_fraction'].replace(['0nannannannan'],'0')
tabba_df['ejection_fraction'] = tabba_df['ejection_fraction'].replace(['nannannan3nan'],'3')
tabba_df['ejection_fraction'].value_counts()

1    5285
2       6
4       2
0       1
3       1
Name: ejection_fraction, dtype: int64

In [1510]:
tabba_df = tabba_df.drop(['Notrecorded','ECHO','LVgrarn','Radionucleotide','Estimate'],axis=1)
tabba_df.shape

(5335, 288)

#### Case 13: Merging Radial Columns

In [1511]:
tabba_df['NoRadial'] = tabba_df['NoRadial'].replace(['1'],'0')
tabba_df['NoRadial'].value_counts()

0    5155
Name: NoRadial, dtype: int64

In [1512]:
tabba_df['RightRadial'] = tabba_df['RightRadial'].replace(['1'],'2')
tabba_df['RightRadial'].value_counts()

2    2
Name: RightRadial, dtype: int64

In [1513]:
tabba_df['BothRadials'] = tabba_df['BothRadials'].replace(['1'],'3')
tabba_df['BothRadials'].value_counts()

3    1
Name: BothRadials, dtype: int64

In [1514]:
tabba_df["radials"] = tabba_df['NoRadial'].map(str)+tabba_df['LeftRadial'].map(str)+tabba_df['RightRadial'].map(str)+tabba_df['BothRadials'].map(str)
tabba_df['radials'].value_counts()

0nannannan      5155
nan1nannan       122
nannannannan      55
nannan2nan         2
nannannan3         1
Name: radials, dtype: int64

In [1515]:
tabba_df['radials'] = tabba_df['radials'].replace(['0nannannan'],'0')
tabba_df['radials'] = tabba_df['radials'].replace(['nan1nannan'],'1')
tabba_df['radials'] = tabba_df['radials'].replace(['nannannannan'],np.nan)
tabba_df['radials'] = tabba_df['radials'].replace(['nannan2nan'],'2')
tabba_df['radials'] = tabba_df['radials'].replace(['nannannan3'],'3')
tabba_df['radials'].value_counts()

0    5155
1     122
2       2
3       1
Name: radials, dtype: int64

In [1516]:
tabba_df = tabba_df.drop(['NoRadial','LeftRadial','RightRadial','BothRadials'],axis=1)
tabba_df.shape

(5335, 285)

#### Now, deleting columns having missing values more than 15%

In [1517]:
tabba_df = tabba_df.loc[:, tabba_df.isnull().mean() * 100 < 15 ]
tabba_df.shape

(5335, 105)

#### Missing Value Check

In [1518]:
tabba_df.columns[tabba_df.isna().any()]

Index(['initial_icu_hours', 'systolic', 'diastolic', 'Statin_A',
       'ejection_fraction', 'pulmonic_stenosis', 'perfusion_time_min',
       'cross_clamp_time_min', 'cerebrovascular_disease', 'carotid_surgery',
       'infectious_endo', 'Glycoprotein', 'Aortic_occlusion', 'antibiotics',
       'CPG_utilization', 'cannulation_methods', 'vsd', 'radials'],
      dtype='object')

#### changing datatype

In [1519]:
list_of_missing_cols = ['initial_icu_hours', 'systolic', 'diastolic', 'Statin_A','ejection_fraction', 'pulmonic_stenosis', 'perfusion_time_min','cross_clamp_time_min', 'cerebrovascular_disease', 'carotid_surgery','infectious_endo', 'Glycoprotein', 'Aortic_occlusion', 'antibiotics','CPG_utilization', 'cannulation_methods', 'vsd', 'radials']
for i in list_of_missing_cols:
    tabba_df[i] = pd.to_numeric(tabba_df[i], errors='coerce')

In [1520]:
for i in list_of_missing_cols:
    print(tabba_df[i].dtypes)

float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

#### Deleting some features having values which give no information eg. time unit ie.hrs

In [1521]:
time_unit = [ 'if_quit_when_duration','cerebrovascular_when_duration','pci_interval_duration','myocardial_when_duration']

In [1522]:
tabba_df = tabba_df.drop(time_unit,axis=1)
tabba_df.shape

(5335, 101)

#### Handling Missing values by Linear Interpolation

In [1524]:
for i in list_of_missing_cols:
    tabba_df[i] = tabba_df[i].interpolate(method ='linear', limit_direction ='forward')

In [1525]:
tabba_df.columns[tabba_df.isna().any()]

Index([], dtype='object')

#### Label Encoding of column surgeon_name

In [1526]:
label_encoder = preprocessing.LabelEncoder()
tabba_df['surgeon_name']= label_encoder.fit_transform(tabba_df['surgeon_name'])
tabba_df['surgeon_name']

0       3
1       1
2       3
3       1
4       1
       ..
5338    1
5339    1
5340    0
5341    1
5342    0
Name: surgeon_name, Length: 5335, dtype: int32

In [1527]:
tabba_df.dtypes

gender_id                int64
patient_age              int64
lhc_done_at_thi          int64
icu_visit                int64
initial_icu_hours      float64
                        ...
antibiotics            float64
CPG_utilization        float64
cannulation_methods    float64
vsd                    float64
radials                float64
Length: 101, dtype: object

In [1528]:
tabba_df = tabba_df.astype(int)

In [1529]:
tabba_df['LOS'].value_counts().head(25)

6     1298
7      994
8      703
9      513
5      468
10     394
11     273
12     156
13     129
14      91
15      55
16      39
17      33
4       30
18      24
3       19
19      16
22      12
20      10
21       9
1        8
2        7
27       7
26       7
23       5
Name: LOS, dtype: int64

#### Checking if any column has a Null Value

In [1564]:
tabba_df.columns[tabba_df.isna().any()]

Index([], dtype='object')

## Step 2: Feature Selection

#### Feature Selection using Random forest, but first we need to split our data in test and train

In [1572]:
# train test split
#make a copy of the label column and store in y
y = tabba_df['LOS']
#now delete the original
X = tabba_df.drop('LOS',axis=1)

In [1573]:
trainX.shape, testX.shape, trainY.shape, testY.shape

((3574, 100), (1761, 100), (3574,), (1761,))

In [1575]:
trees=35
clf  = RandomForestRegressor(n_estimators=trees, random_state=43)
clf.fit(X,y)
#validationmetrics(clf,testX,testY)
res = pd.Series(clf.feature_importances_, index=X.columns.values).sort_values(ascending=False)*100
res.nlargest(10)

initial_icu_hours       27.654248
weight                   7.018868
readmission_to_icu       5.492420
last_hematocrit          5.007421
systolic                 4.736799
patient_age              4.561306
height                   4.413321
perfusion_time_min       3.646759
diastolic                3.605848
cross_clamp_time_min     3.376324
dtype: float64

In [1576]:
cols = ['initial_icu_hours','patient_age','systolic','weight','last_hematocrit','perfusion_time_min' ,'height', 'cross_clamp_time_min','last_wbc_count','readmission_to_icu']
X =X[cols]

In [1577]:
def validationmetrics_reg(model,X_test,y_test, verbose=True):
    predictions = model.predict(X_test)
    # R-squared
    r2 = r2_score(y_test,predictions)
    # Adjusted R-squared
    r2_adjusted = 1-(1-r2)*(X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)
    # MSE
    mse = mean_squared_error(y_test,predictions)
    #RMSE
    rmse = math.sqrt(mse)
    if verbose:
        print("R-Squared Value: ", r2)
        print("Adjusted R-Squared: ", r2_adjusted)
        print("RMSE: ", rmse)
    
    res_map = {
            "r2": r2,
            "r2_adjusted": r2_adjusted,
            "rmse": rmse,
            "model_obj": model
              }
    return res_map

## Applying Random Forest Regression

#### Test results

In [1578]:
clf = RandomForestRegressor(n_estimators=100)
clf.fit(trainX , trainY)
validationmetrics_reg(clf, testX, testY, verbose=True)

R-Squared Value:  0.2498370878173397
Adjusted R-Squared:  0.2046465509388662
RMSE:  3.9162171017980696

{'r2': 0.2498370878173397,
 'r2_adjusted': 0.2046465509388662,
 'rmse': 3.9162171017980696,
 'model_obj': RandomForestRegressor()}

#### Train results

In [1579]:
clf = RandomForestRegressor(n_estimators=100)
clf.fit(trainX , trainY)
validationmetrics_reg(clf, trainX, trainY, verbose=True)

R-Squared Value:  0.8959171711431289
Adjusted R-Squared:  0.8929202569808233
RMSE:  1.2051388754037906

{'r2': 0.8959171711431289,
 'r2_adjusted': 0.8929202569808233,
 'rmse': 1.2051388754037906,
 'model_obj': RandomForestRegressor()}

#### Actual vs Predicted

In [1580]:
y_pred = clf.predict(testX)
#To compare the actual output values for X_test with the predicted values
df = pd.DataFrame({'Actual': testY, 'Predicted': y_pred})
df

      Actual  Predicted
2509       5       7.11
3624       6       6.68
210        9       8.25
911        7       6.53
675        8       8.38
...      ...        ...
3046       9       8.28
3273       5       7.49
942       10       6.04
3492       9      10.12
82         8       9.70

[1761 rows x 2 columns]

## Support Vector Regression

#### Test results

In [1581]:
clf = SVR(kernel="rbf")
clf.fit(trainX , trainY)
validationmetrics_reg(clf, testX, testY, verbose=True)

R-Squared Value:  0.16261691887305785
Adjusted R-Squared:  0.11217215494974808
RMSE:  4.137624322086604

{'r2': 0.16261691887305785,
 'r2_adjusted': 0.11217215494974808,
 'rmse': 4.137624322086604,
 'model_obj': SVR()}

#### Train results

In [1582]:
clf = SVR(kernel="rbf")
clf.fit(trainX , trainY)
validationmetrics_reg(clf, trainX, trainY, verbose=True)

R-Squared Value:  0.17885553584999914
Adjusted R-Squared:  0.15521187146330173
RMSE:  3.384989588053027

{'r2': 0.17885553584999914,
 'r2_adjusted': 0.15521187146330173,
 'rmse': 3.384989588053027,
 'model_obj': SVR()}

#### Actual VS Predicted

In [1583]:
y_pred = clf.predict(testX)
#To compare the actual output values for X_test with the predicted values
df = pd.DataFrame({'Actual': testY, 'Predicted': y_pred})
df

      Actual  Predicted
2509       5   7.004797
3624       6   7.026774
210        9   7.156929
911        7   6.788152
675        8   7.197864
...      ...        ...
3046       9   6.825963
3273       5   6.860603
942       10   7.230520
3492       9   9.050362
82         8   7.580677

[1761 rows x 2 columns]

## Gradient Boosting Regression

#### Test Results

In [1584]:
clf = GradientBoostingRegressor()
clf.fit(trainX , trainY)
validationmetrics_reg(clf, testX, testY, verbose=True)

R-Squared Value:  0.2827587430644548
Adjusted R-Squared:  0.23955143842978344
RMSE:  3.8293194410189675

{'r2': 0.2827587430644548,
 'r2_adjusted': 0.23955143842978344,
 'rmse': 3.8293194410189675,
 'model_obj': GradientBoostingRegressor()}

#### Train Results

In [1585]:
clf = GradientBoostingRegressor()
clf.fit(trainX , trainY)
validationmetrics_reg(clf, trainX, trainY, verbose=True)

R-Squared Value:  0.5488856721889499
Adjusted R-Squared:  0.535896489124998
RMSE:  2.5089433935919967

{'r2': 0.5488856721889499,
 'r2_adjusted': 0.535896489124998,
 'rmse': 2.5089433935919967,
 'model_obj': GradientBoostingRegressor()}

#### Actual VS Predicted

In [1586]:
y_pred = clf.predict(testX)
#To compare the actual output values for testX with the predicted values, execute the following script
df = pd.DataFrame({'Actual': testY, 'Predicted': y_pred})
df

      Actual  Predicted
2509       5   7.106514
3624       6   6.824632
210        9   8.331667
911        7   6.796618
675        8   7.705639
...      ...        ...
3046       9   7.730562
3273       5   7.560197
942       10   7.774679
3492       9   9.888331
82         8   8.038654

[1761 rows x 2 columns]

## AdaBoost Regression

#### test results

In [1587]:
clf = AdaBoostRegressor(random_state=0, n_estimators=100)
clf.fit(trainX , trainY)
validationmetrics_reg(clf, testX, testY, verbose=True)

R-Squared Value:  -0.2376102984139321
Adjusted R-Squared:  -0.31216513566778326
RMSE:  5.030149842717909

{'r2': -0.2376102984139321,
 'r2_adjusted': -0.31216513566778326,
 'rmse': 5.030149842717909,
 'model_obj': AdaBoostRegressor(n_estimators=100, random_state=0)}

#### Train results

In [1588]:
clf = AdaBoostRegressor(random_state=0, n_estimators=100)
clf.fit(trainX , trainY)
validationmetrics_reg(clf, trainX, trainY, verbose=True)

R-Squared Value:  -0.26440112754458833
Adjusted R-Squared:  -0.30080772494005603
RMSE:  4.200393615668355

{'r2': -0.26440112754458833,
 'r2_adjusted': -0.30080772494005603,
 'rmse': 4.200393615668355,
 'model_obj': AdaBoostRegressor(n_estimators=100, random_state=0)}

#### Actual VS Predicted

In [1589]:
y_pred = clf.predict(testX)
#To compare the actual output values for testX with the predicted values, execute the following script
df = pd.DataFrame({'Actual': testY, 'Predicted': y_pred})
df

      Actual  Predicted
2509       5  10.122050
3624       6   9.942149
210        9  11.273011
911        7  10.122050
675        8  10.356546
...      ...        ...
3046       9  10.418182
3273       5   9.797853
942       10  10.797788
3492       9  13.194858
82         8  10.497497

[1761 rows x 2 columns]

## Ridge Regression

#### Test Results

In [1590]:
clf=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
clf_ridge=GridSearchCV(clf,parameters,scoring='neg_mean_squared_error',cv=5)
clf_ridge.fit(trainX,trainY)
validationmetrics_reg(clf_ridge, testX, testY, verbose=True)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.90878e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.01193e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.24934e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.44272e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.0586e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.00342e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

R-Squared Value:  0.29935437777444274
Adjusted R-Squared:  0.25714681017049346
RMSE:  3.784758487043254

{'r2': 0.29935437777444274,
 'r2_adjusted': 0.25714681017049346,
 'rmse': 3.784758487043254,
 'model_obj': GridSearchCV(cv=5, estimator=Ridge(),
              param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                    20, 30, 35, 40, 45, 50, 55, 100]},
              scoring='neg_mean_squared_error')}

#### Train results

In [1591]:
clf=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
clf_ridge=GridSearchCV(clf,parameters,scoring='neg_mean_squared_error',cv=5)
clf_ridge.fit(trainX,trainY)
validationmetrics_reg(clf_ridge, trainX, trainY, verbose=True)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.90878e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.01193e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.24934e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.44272e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.0586e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.00342e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

R-Squared Value:  0.3849895677215873
Adjusted R-Squared:  0.36728123393873635
RMSE:  2.929468239172697

{'r2': 0.3849895677215873,
 'r2_adjusted': 0.36728123393873635,
 'rmse': 2.929468239172697,
 'model_obj': GridSearchCV(cv=5, estimator=Ridge(),
              param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                    20, 30, 35, 40, 45, 50, 55, 100]},
              scoring='neg_mean_squared_error')}

#### Actual VS Predicted

In [1592]:
y_pred = clf_ridge.predict(testX)
#To compare the actual output values for testX with the predicted values
df = pd.DataFrame({'Actual': testY, 'Predicted': y_pred})
df

      Actual  Predicted
2509       5   6.669200
3624       6   6.564451
210        9   7.779984
911        7   6.673072
675        8   7.854152
...      ...        ...
3046       9   7.980190
3273       5   7.711862
942       10   8.080851
3492       9   9.915857
82         8   8.380195

[1761 rows x 2 columns]

## Lasso Regression

#### Test Results

In [1593]:
lasso=Lasso()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
clf_lasso=GridSearchCV(lasso,parameters,scoring='neg_mean_squared_error',cv=5)
clf_lasso.fit(trainX,trainY)
validationmetrics_reg(clf_lasso, testX, testY, verbose=True)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12485.493224820179, tolerance: 4.193699965022741
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12239.584831764098, tolerance: 4.080987897866391
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12634.652056030149, tolerance: 3.8322254634487574
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12572.853574725008, tolerance: 4.096354109828619
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10659.476824581505, tolerance: 3.744419440559437
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12485.162844419823, tolerance: 4.193699965022741
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12102.785410218401, tolerance: 4.080987897866391
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12632.47410052976, tolerance: 3.8322254634487574
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12487.709934028322, tolerance: 4.096354109828619
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10576.227739818061, tolerance: 3.744419440559437
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12452.519056201825, tolerance: 4.193699965022741
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5011.215182379385, tolerance: 4.080987897866391
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12419.411294308737, tolerance: 3.8322254634487574
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6998.498542419973, tolerance: 4.096354109828619
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5035.648440914429, tolerance: 3.744419440559437
  model = cd_fast.enet_coordinate_descent(

R-Squared Value:  0.30046991677655477
Adjusted R-Squared:  0.2583295503173111
RMSE:  3.781744318787052

{'r2': 0.30046991677655477,
 'r2_adjusted': 0.2583295503173111,
 'rmse': 3.781744318787052,
 'model_obj': GridSearchCV(cv=5, estimator=Lasso(),
              param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                    20, 30, 35, 40, 45, 50, 55, 100]},
              scoring='neg_mean_squared_error')}

#### Train results

In [1594]:
lasso=Lasso()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
clf_lasso=GridSearchCV(lasso,parameters,scoring='neg_mean_squared_error',cv=5)
clf_lasso.fit(trainX,trainY)
validationmetrics_reg(clf_lasso, trainX, trainY, verbose=True)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12485.493224820179, tolerance: 4.193699965022741
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12239.584831764098, tolerance: 4.080987897866391
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12634.652056030149, tolerance: 3.8322254634487574
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12572.853574725008, tolerance: 4.096354109828619
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10659.476824581505, tolerance: 3.744419440559437
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12485.162844419823, tolerance: 4.193699965022741
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12102.785410218401, tolerance: 4.080987897866391
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12632.47410052976, tolerance: 3.8322254634487574
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12487.709934028322, tolerance: 4.096354109828619
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10576.227739818061, tolerance: 3.744419440559437
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12452.519056201825, tolerance: 4.193699965022741
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5011.215182379385, tolerance: 4.080987897866391
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12419.411294308737, tolerance: 3.8322254634487574
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6998.498542419973, tolerance: 4.096354109828619
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5035.648440914429, tolerance: 3.744419440559437
  model = cd_fast.enet_coordinate_descent(

R-Squared Value:  0.3789611430928732
Adjusted R-Squared:  0.36107922956257876
RMSE:  2.943790770697154

{'r2': 0.3789611430928732,
 'r2_adjusted': 0.36107922956257876,
 'rmse': 2.943790770697154,
 'model_obj': GridSearchCV(cv=5, estimator=Lasso(),
              param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                    20, 30, 35, 40, 45, 50, 55, 100]},
              scoring='neg_mean_squared_error')}

#### Actual VS Predicted

In [1595]:
y_pred = clf_lasso.predict(testX)
#To compare the actual output values for X_test with the predicted values
df = pd.DataFrame({'Actual': testY, 'Predicted': y_pred})
df

      Actual  Predicted
2509       5   6.852643
3624       6   6.565672
210        9   8.182120
911        7   6.919721
675        8   7.881413
...      ...        ...
3046       9   7.950676
3273       5   7.726918
942       10   8.068616
3492       9   9.909799
82         8   8.507995

[1761 rows x 2 columns]